<div class="modal-content"><meta name="googlebot" content="noindex">
      <div class="modal-header px-4 align-items-center">
        <h5 class="modal-title">Visualiza Tickets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body rounded-bottom">
<div class="card mb-4"><div class="card-body"><h4 class="card-title">Ticket nº 734997 <button class="btn btn-success btn-sm">ABERTO</button><span class="pull-right">suporte</span></h4></div></div><!-- panel --><div class="card mb-4"><div class="card-header"><div class="row"><div class="col-sm-1"><h1 class="float-right"><i class="fa fa-user" aria-hidden="true"></i></h1></div><!--col --><div class="col-sm-11"><h3 class="card-title">Igor A. Sabatovski1<br><small>Escrito em: 22/03/2019 07:03:39</small></h3></div><!--col --></div><!--row -->  </div><!--panel-heading --><div class="card-body"><h2>4684</h2>684684</div></div><!-- panel --><h3 class="text-center text-danger">Ainda não teve um retorno, favor aguardar até 24h</h3><div class="card"><div class="card-header"><h4>Adicionar Resposta</h4></div><!--panel-heading --><div class="card-body"><input type="hidden" id="734997-assunto" value="4684"><input type="hidden" id="734997-departamento" value="suporte"><input type="hidden" id="734997-user" value="1"><input type="hidden" id="734997-nome" value="Igor A. Sabatovski1"><input type="hidden" id="734997-nome-ticket" value="Igor A. Sabatovski1"><input type="hidden" id="734997-email-user" value=""><input type="hidden" id="734997-email-ticket" value=""><textarea id="734997-textarea" class="form-control texto" rows="6" placeholder="Escreva sua resposta"></textarea><div style="display:none" id="anexo-body"><hr><input id="fileUpload" name="fileUpload" type="file" class="file"><hr></div><button class="btn btn-warning my-4 anexo float-left" id="734997-button" value="734997"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Anexar arquivo</button> <button class="btn btn-primary my-4 resposta float-right" id="734997-button" value="734997"><i class="fa fa-commenting-o" aria-hidden="true"></i> Enviar resposta</button> <img style="display:none;" id="734997-loader" class="loader" src="/admin/ajax-loader.gif" alt=""><div id="734997-retorno"></div></div><!--panel-body --></div><!--panel -->            </div>      <!-- /modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>      <!-- /modal-footer -->

</div>